.social-media-navbar {
  display: grid;
  grid-template-columns: 300px 600px 300px;
}

.social-media-main-grid {
  display: grid;
  grid-template-columns: 300px 600px 300px;
}

.social-media-content-grid {
  grid-template-columns: repeat(2, 1fr);
}

.profile-grid {
  display: grid;
  grid-template-columns: 300px 600px 300px;
}
